.donate-page {
  margin-top: 4rem;
  .heading {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url("../assets/donate-header.png") center center / cover no-repeat;
    height: 20rem;
    z-index: -1;
    display: flex;
    justify-content: center;
    text-align: center;

    .sec-title {
      text-align: center;
      // position: absolute;
      z-index: 1;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 0.1rem;
        // text-shadow: 0.1rem 0.1rem 0.8rem black;
        padding-bottom: 0.3rem;
      }

      p {
        font-weight: 500;
        line-height: 30px;
        font-size: 16px;
        // text-shadow: 0.1rem 0.1rem 0.8rem black;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .donate-page {
    .heading {
      h1 {
        font-size: 3.8rem !important;
      }
      p {
        font-size: 20px !important;
      }
    }
  }
}
