$AntiFlashWhite: rgba(232, 232, 232, 1);
$CharlestonGreen: rgba(43, 39, 53, 1);
$DeepAquamarine: rgba(67, 141, 124, 1);
$LightGoldenrod: rgba(255, 247, 212, 1);
$Lotion: rgba(252, 253, 251, 1);
$MellowApricot: rgba(242, 185, 132, 1);
$PhilippineGray: rgba(144, 144, 144, 1);
$YellowOrange: rgba(255, 178, 63, 1);
$DarkGray: rgba(100, 100, 100, 1);
$LightGreen: rgba(67, 141, 124, 0.75);
$LightGray: rgba(238, 238, 238, 1);

.footer {
  // position: sticky;
  // bottom: 0;
  background: $LightGray;
  padding: 2rem 0;

  .sec-container {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    .footer-logo {
      padding-bottom: 0.5rem;
      .logo {
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5rem;

        h1 {
          // font-family: R;
          color: $DeepAquamarine !important;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.68px;
        }

        .icon {
          font-size: 25px;
          color: $DeepAquamarine;
          margin-right: 0.5rem;
        }
      }
    }

    .socials {
      gap: 0.5rem;
      margin: auto;
      justify-content: center;
      margin-bottom: 1rem;

      .icon {
        font-size: 30px;
        background-color: $DeepAquamarine !important;
        border-radius: 50%;
        padding: 8px;
        color: $AntiFlashWhite;

        &:hover {
          background: $DarkGray;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      .footer-links {
        display: grid;
        row-gap: 0.2rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;

        .link-title {
          padding-bottom: 0.5rem;
          color: $DarkGray;
          font-weight: 700;
        }

        li {
          &:hover {
            transform: translateX(10px);

            a {
              color: $DeepAquamarine;
              cursor: pointer;
            }
          }
        }

        a,
        .phone,
        .email {
          color: $DarkGray;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 448px) {
  .sec-container {
    // grid-template-columns: repeat(2, 1fr);
    text-align: start !important;
    align-items: flex-start;

    .links {
      .footer-links {
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .sec-container {
    display: flex;
    justify-content: space-between;
    // grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .sec-container {
    padding: 2rem;

    .footer-logo {
      .socials {
        display: flex;
        align-items: end;
        gap: 1rem;
      }
    }

    .links {
      justify-content: space-around;
      align-items: start;
      flex-direction: row !important;
      width: 70vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sec-container {
    flex-direction: row !important;

    .links {
      margin-left: 8rem;
      width: 50vw;
      align-items: start;

      .footer-links {
        text-align: start !important;
        align-items: start;
        justify-content: start;
      }
    }
  }
}
