$AntiFlashWhite: rgba(232, 232, 232, 1);
$CharlestonGreen: rgba(43, 39, 53, 1);
$DeepAquamarine: rgba(67, 141, 124, 1);
$LightGoldenrod: rgba(255, 247, 212, 1);
$Lotion: rgba(252, 253, 251, 1);
$MellowApricot: rgba(242, 185, 132, 1);
$PhilippineGray: rgba(144, 144, 144, 1);
$YellowOrange: rgba(255, 178, 63, 1);
$DarkGray: rgba(100, 100, 100, 1);
$LightGreen: rgba(67, 141, 124, 0.75);
$LightGray: rgba(238, 238, 238, 1);

.header-form {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // width: 80vw;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-sort {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    button {
      background-color: $DeepAquamarine;
      padding: 0.7rem 2rem;
      color: $Lotion;

      &:hover {
        background-color: $LightGreen;
        color: $Lotion;
      }
    }

    .dropdown-menu {
      a {
        cursor: pointer !important;
      }
    }
  }

  .sorting {
    button {
      background: none;
      color: $DeepAquamarine;
      border: 1px solid $DeepAquamarine;
      padding: 0.7rem 2rem;

      &:hover {
        background-color: $DeepAquamarine;
        color: $Lotion;
      }
    }
  }

  .search {
    input {
      width: 80vw;
      border: 1px solid $DeepAquamarine;
      padding: 0.7rem 1rem;
      color: $CharlestonGreen;
      font-weight: 500;
    }
  }

  .add {
    button {
      background-color: $DeepAquamarine;
      color: $Lotion;
      padding: 0.7rem 2rem;

      &:hover {
        background-color: $LightGreen;
        color: $Lotion;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .header-form {
    flex-direction: row;

    .search {
      input {
        width: 50vw;
      }
    }
  }
}
