$AntiFlashWhite: rgba(232, 232, 232, 1);
$CharlestonGreen: rgba(43, 39, 53, 1);
$DeepAquamarine: rgba(67, 141, 124, 1);
$LightGoldenrod: rgba(255, 247, 212, 1);
$Lotion: rgba(252, 253, 251, 1);
$MellowApricot: rgba(242, 185, 132, 1);
$PhilippineGray: rgba(144, 144, 144, 1);
$YellowOrange: rgba(255, 178, 63, 1);
$DarkGray: rgba(100, 100, 100, 1);
$LightGreen: rgba(67, 141, 124, 0.75);
$LightGray: rgba(238, 238, 238, 1);

.navbar-section {
  position: absolute;
  .logo {
    color: $DeepAquamarine !important;
    cursor: pointer;
  }

  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    @media screen and (max-width: 768px) {
      .navbar {
        background: $LightGray;
        position: absolute;
        height: max-content;
        padding: 1rem;
        width: 100%;
        top: -800%;
        left: 0;
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
        transition: 0.5s ease;
        z-index: 1000;

        .nav-lists {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          margin: auto;

          .nav-item {
            padding: 1rem 0;
            cursor: pointer;

            .nav-link {
              color: $PhilippineGray;
              font-size: 0.9rem;
              font-weight: 600;
              cursor: pointer !important;

              &:hover {
                color: $DeepAquamarine;
              }
            }
          }
          .header-btns {
            flex-direction: column;
            font-weight: 500;

            .btn {
              margin-top: 1rem;

              &:hover {
                color: var($Lotion);
              }
            }
          }
        }

        .close-navbar {
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          color: $DeepAquamarine;

          &:hover .icon {
            color: $CharlestonGreen;
          }
        }
      }

      .active-navbar {
        // left: 0;
        top: 0;
      }
    }

    .toggle-navbar {
      .icon {
        font-size: 25px;
        color: $DeepAquamarine;
        &:hover {
          color: $DeepAquamarine;
        }
      }
    }
  }

  .active-header {
    background-color: $LightGray;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  }
}

@media screen and (min-width: 769px) {
  .navbar-section {
    margin-top: 1rem;

    .toggle-navbar,
    .close-navbar {
      display: none;
    }

    .header {
      padding: 1.5rem 2rem;

      .navbar {
        .nav-lists {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          cursor: pointer;

          .nav-link {
            color: $AntiFlashWhite;
            padding: 0 1.5rem;
            cursor: pointer !important;
            font-size: 0.9rem;
            font-weight: 600;

            &:hover {
              color: $DeepAquamarine;
            }
          }

          .btn {
            margin-left: 1rem;
            padding: 10px 30px;
            font-size: 13px;
            color: $Lotion;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    .navbar {
      .nav-list {
        .nav-item {
          padding: 0 0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 8.5rem !important;
  }
}
